/********** HEADER **********/
.header-content {
    padding: 10px 10px 10px 20px;
    background-color: #171717;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo-header {
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.logo-img {
    width: 100%;
}

.redes-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-header-top {
    align-self: center;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.iconos-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: end;
    align-items: center;
}

.iconos-redes {
    width: 30px;
    height: 30px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.menu-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    height: 40px;
}

.menu-header a {
    text-decoration: none;
}

.menu-header a.active {
    background-color: #EC1C24;
    border-radius: 5px;
}

.text-menu-header {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-menu-header:hover {
    background-color: #EC1C24;
    border-radius: 5px;
}

.barra-buscar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 70%;
}

.input-buscar {
    flex: 1;
    font-size: 1rem;
    border: none;
    padding: 10px;
    outline: none;
}

.btn-buscar {
    background-color: #EC1C24;
    height: 100%;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-buscar:hover {
    background-color: #ff0000;
}


/********** CUERPO **********/
main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Estilo para la capa de fondo opaco */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    /* Fondo semitransparente */
    z-index: 9999;
    /* Asegura que esté en la parte superior */
}

/* Estilo para el elemento de carga */
.loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    /* Asegura que esté en la parte superior */
}

.slider-superior {
    width: 100%;
}

.slider-superior img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.superior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4em;
    margin: 20px auto;
    align-items: end;
}

.superior-elementos {
    width: 200px;
    text-align: center;
}

.superior-elementos a {
    cursor: pointer;
}

.superior-elementos img {
    width: 100%;
}

.superior-elementos.llanta img {
    width: 145px;
}

.superior-elementos:not(:hover) img {
    transition: transform 0.3s;
    transform: scale(1.05);
}

.btn-buscar-index {
    display: block;
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #EC1C24;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-buscar-index:hover {
    background-color: #ff0000;
}

.btn-buscar-index h3 {
    font-size: 1.2em;
}

.llantas-index-container {
    display: flex;
    flex-direction: column;
}

.texto-subtitulos {
    text-align: center;
    color: #171717;
    font-family: "Poppins", Sans-serif;
    font-size: 43px;
    font-weight: 800;
}

.llantas-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px auto;
}

.img-llantas-index {
    width: 200px;
}

.llantas-index img {
    width: 100%;
    display: block;
}

.mapa-content {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa {
    width: 50%;
    position: relative;
    padding-bottom: 40%;
    /* Proporción 16:9 (para mantener la relación de aspecto) */
    height: 0;
    overflow: hidden;
}

.mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilo para el contenedor principal */
.filtro-producto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* Centrar horizontalmente */
    max-width: 800px;
    /* Ajusta el ancho máximo según tus preferencias */
    margin: 20px auto;
    /* Centrar horizontalmente */
    text-align: center;
}

/* Estilo para las etiquetas (labels) */
.filtro-producto label {
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

/* Estilo para los selectores */
.filtro-producto select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    text-align: center;
}

/* Estilo para el botón de filtrar */
.filtro-producto button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
}

/********** PRODUCTOS **********/

.filtro-producto ul {
    display: grid;
    gap: 20px;
    padding-top: 50px;
    justify-items: center;
}

.product-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 3% 2%;
    max-width: 1200px;
}

.product {
    background-color: #ffffff;
    border: 1px px solid #ccc;
    padding: 5%;
    height: auto;
    text-align: center;
}

.product:hover img {
    transition: transform 0.3s;
    transform: scale(1.05);
}

.product:not(:hover) img {
    transition: transform 0.3s;
}

.content-image-llantas {
    min-height: 340px;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
}

.product h2 {
    color: black;
    margin-top: 10px;
    font-size: 1.2em;
    min-height: 3.05em;
}

.product a {
    text-decoration: none;
}

.btn-details {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-details:hover {
    background-color: #0056b3;
}


/********** DETALLES DE PRODUCTOS **********/
.product-details {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 35%;
    padding: 20px;
}

.product-image:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.product-image:not(:hover) {
    transition: transform 0.3s;
    transform: scale(1);
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.table-detail-product {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-detail-product th,
.table-detail-product td {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.btn-pages-details {
    display: flex;
}

.btn-availability,
.btn-back {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-availability.page-detail,
.btn-back.page-detail {
    margin-right: 10px;
}

.btn-availability:hover,
.btn-back:hover {
    background-color: #0056b3;
}


/********** FOOTER **********/
.footer-content {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #171717;
}

.logo-footer {
    width: 20%;
}


/********** RESPONSIVE CELULAR **********/
@media(max-width:767px) {

    /********** HEADER **********/
    .header-top {
        flex-direction: column;
    }

    .header-bottom {
        grid-template-columns: 1fr;
    }

    .text-menu-header {
        width: 100%;
    }

    .barra-buscar {
        width: 100%;
    }

    .input-buscar {
        font-size: 13px;
    }

    .btn-buscar {
        font-size: 13px;
    }

    /********** CUERPO **********/
    .superior {
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .superior-elementos {
        width: 100px;
    }

    .superior-elementos.llanta img {
        width: 72px;
    }

    .llantas-index-text {
        font-size: 23px;
    }

    .llantas-index {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .img-llantas-index {
        width: 100px;
    }

    .mapa{
        width: 90%;
    }


    /********** PRODUCTOS **********/
    .filtro-producto {
        flex-direction: column;
    }

    .filtro-producto label {
        text-align: center;
        /* Centrar el texto en dispositivos móviles */
        min-width: auto;
        /* Eliminar el ancho mínimo en dispositivos móviles */
    }

    .filtro-producto select {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap: 10px;
        width: 90%;
    }

    .content-image-llantas {
        min-height: 220px;
    }

    .product h2 {
        min-height: 4em;
    }

    /********** DETALLES DE PRODUCTOS **********/
    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-image {
        width: 50%;
    }
}

/********** RESPONSIVE TABLET **********/
@media(min-width:768px) and (max-width:1023px) {

    /********** HEADER **********/
    .header-bottom {
        grid-template-columns: 1fr;
    }

    .input-buscar {
        font-size: 13px;
    }

    .btn-buscar {
        font-size: 13px;
    }

    /********** CUERPO **********/
    .superior {
        gap: 10px;
    }

    .superior-elementos {
        width: 100px;
    }

    .superior-elementos.llanta img {
        width: 73px;
    }

    .llantas-index-text {
        font-size: 33px;
    }

    .llantas-index {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .img-llantas-index {
        width: 150px;
    }

    /********** PRODUCTOS **********/
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        width: 90%;
    }

    .content-image-llantas {
        min-height: 220px;
    }

    .product h2 {
        min-height: 4em;
    }


    /********** DETALLES DE PRODUCTOS **********/


}