/********** HEADER **********/
.header-content {
    padding: 10px 10px 10px 20px;
    background-color: #171717;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo-header {
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.logo-img {
    width: 100%;
}

.redes-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-header-top {
    align-self: center;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.iconos-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: end;
    align-items: center;
}

.iconos-redes {
    width: 30px;
    height: 30px;
}

.icono-tiktok {
    background-image: url('../images/iconos/ticktock.svg');
    background-size: cover;
}

.icono-youtube {
    background-image: url('../images/iconos/yotube.svg');
    background-size: cover;
}

.icono-instagram {
    background-image: url('../images/iconos/instagram.svg');
    background-size: cover;
}

.icono-facebook {
    background-image: url('../images/iconos/facebook.svg');
    background-size: cover;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.menu-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    height: 40px;
}

.menu-header a {
    text-decoration: none;
}

.menu-header a.active {
    background-color: #EC1C24;
    border-radius: 5px;
}

.text-menu-header {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-menu-header:hover {
    background-color: #EC1C24;
    border-radius: 5px;
}

.barra-buscar {
    position: relative;
    width: 50%;
    margin-top: 20px;
}

.input-buscar {
    width: 80%;
    height: 23px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}

.btn-buscar {
    background-color: #EC1C24;
    padding: 10px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

.btn-buscar:hover {
    background-color: red;
}


/********** CUERPO **********/
main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}


/********** PRODUCTOS **********/
.filtro-producto {
    width: 20%;
}

.filtro-producto ul {
    display: grid;
    gap: 20px;
    padding-top: 50px;
    justify-items: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 5% 2%;
    max-width: 1200px;
}

.product {
    background-color: #ffffff;
    border: 1px px solid #ccc;
    padding: 5%;
    height: auto;
    text-align: center;
}

.product:hover img {
    transition: transform 0.3s;
    transform: scale(1.05);
}

.product:not(:hover) img {
    transition: transform 0.3s;
}

.content-image-llantas {
    min-height: 340px;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
}

.product h2 {
    color: black;
    margin-top: 10px;
    font-size: 1.2em;
    min-height: 3.05em;
}

.product a {
    text-decoration: none;
}

.btn-details {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-details:hover {
    background-color: #0056b3;
}


/********** DETALLES DE PRODUCTOS **********/
.product-details {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    padding: 20px;
}

.product-image:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.product-image:not(:hover) {
    transition: transform 0.3s;
    transform: scale(1);
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
    padding: 20px;
}

.product-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.table-detail-product {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-detail-product th,
.table-detail-product td {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.btn-pages-details {
    display: flex;
}

.btn-availability,
.btn-back {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-availability:hover,
.btn-back:hover {
    background-color: #0056b3;
}


/********** FOOTER **********/
.footer-content {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #171717;
}

.logo-footer {
    width: 20%;
}


/********** RESPONSIVE CELULAR **********/
@media(max-width:767px) {

    /********** HEADER **********/
    .header-top {
        flex-direction: column;
    }

    .header-bottom {
        grid-template-columns: 1fr;
    }

    .text-menu-header {
        width: 100%;
    }

    .barra-buscar {
        width: 80%;
    }

    /********** CUERPO **********/
    main {
        flex-direction: column;
        align-items: center;
    }

    /********** PRODUCTOS **********/
    .product-grid {
        grid-template-columns: 1fr 1fr;
        gap: 1%;
    }

    .content-image-llantas {
        min-height: 220px;
    }

    .product h2 {
        min-height: 4em;
    }

    /********** DETALLES DE PRODUCTOS **********/
    .product-details {
        flex-direction: column;
    }

}

/********** RESPONSIVE CELULAR **********/
@media(min-width:768px) and (max-width:1023px) {

    /********** HEADER **********/
    .header-bottom {
        grid-template-columns: 1fr;
    }

    /********** CUERPO **********/
    main {
        flex-direction: column;
        align-items: center;
    }

    /********** PRODUCTOS **********/
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        padding: 20px 0 0 0;
        gap: 10px;
    }

    .content-image-llantas {
        min-height: 220px;
    }

    .product h2 {
        min-height: 4em;
    }


    /********** DETALLES DE PRODUCTOS **********/
    .product-image {
        width: 50%;
    }

}